<p><h3>Детали публикации.</h3></p>
<table class="table table-striped">
	<tr>
		<td>
			<h4><%=@res['id']%> /<%=@res['title']%>/</h4>
			<p><%=@res['mess']%></p>
			<p><%=@res['updated_at']%>, <%=@res['ip_adress']%></p>
		</td>
	</tr>
</table>

