<p><h3>Детали публикации.</h3></p>
<table class="table table-striped">
	<tr>
		<td>
			<h4><%=@res['id']%> /<%=@res['title']%>/</h4>
			<p><%=@res['mess']%></p>
			<p><%=@res['updated_at']%>, <%=@res['ip_adress']%></p>
		</td>
	</tr>
</table>

<h3>Comments:</h3>
<form action="/post/<%=@res['id']%>" method="POST">
  <div class="form-group">
    <label>Напишите здесь.</label>
    <textarea class="form-control" name="comments[mess]" rows="3" ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Опубликовать</button>
</form>
