
<p><h2>Просмотр публикаций.</h2></p>
<table class="table table-striped">
	<tbody>
	<%@res_db.each do |res|%>
		<tr>
			<td>
				<h4><%=res['id']%> /<%=res['title']%>/</h4>
				<p><%=res['mess']%></p>
				<p><%=res['updated_at']%>, <%=res['ip_adress']%></p>
				<p><a href="/post/<%=res['id']%>">Comments</a></p>
			</td>
		</tr>
	<%end%>	
	</tbody>
</table>
